body {
    font-family: 'Times New Roman', serif;
    margin: 0; /* Remove default margin */
    line-height: 1.1;
    height: 100vh; /* Ensure body takes up full viewport height */
    padding-left: 30px;
    background-color: white; /* Set background color */
}

.sticky-logo {
    top: 0;
    z-index: 1000;
    padding-top: 36px;
    padding-bottom: 24px;
}

.scroll-wrapper {
    overflow-y: scroll;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.current-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-container {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 36px;
}

.left-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.exhibition-img{
    max-width: 100%;
    max-height: 90%;
    height: auto;
    margin-top: 24px;
    object-fit: contain; /* Maintain intrinsic dimensions */
    align-self: flex-start;
}

.exhibition-img-vert{
    height: 540px;
    width: auto;
    margin-top: 24px;
    object-fit: contain; /* Maintain intrinsic dimensions */
    align-self: flex-start;
}

.exhibition-img-captioned {
    margin-top: 24px;
    margin-bottom: 4px;
    max-width: 100%;
    max-height: 90%;
    height: auto;
    object-fit: contain; /* Maintain intrinsic dimensions */
    align-self: flex-start;
}

.exhibition-img-vert-captioned{
    max-height: 80vh;
    max-width: 100%;
    width: auto;
    margin-top: 24px;
    margin-bottom: 4px;
    object-fit: contain; /* Maintain intrinsic dimensions */
    align-self: flex-start;
}

.thomas-container {
    width: 100%;
    max-height: 90%;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 0px;
}

.thomas-img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain; /* Maintain intrinsic dimensions */
}

.text-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.toggle-text {
    cursor: pointer;
    color: black; 
    text-decoration: none;
}

.toggle-text:hover {
    color: turquoise; 
    text-decoration: underline; 
}

header h1 {
    font-weight: normal;
    margin-top: 0;
    text-align: center;
}

header img {
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 1px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover, nav ul li a:focus {
    color: turquoise;
}

.image-container {
    display: block;
    width: 360px;
    object-fit: contain; /* Maintain intrinsic dimensions */
    margin-left: 0;
}

.img-hr-container {
    width: 100%;
}

.header-img {
    display: block;
    width: 100%;
    object-fit: contain; /* Maintain intrinsic dimensions */
    margin-left: 0;
}

.custom-hr {
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 10px;
    width: 100%; /* Matches the width of the containing div */
    margin-left: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1px;
}

.underline {
    text-decoration: underline;
}

.right-container {
    display: flex;
    flex-direction: column;
    top: 0;
    align-self: flex-start;
    margin-right: 20px;
    margin-left: 60px;
}

.logo {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 3px;
    border: 1px black solid;
}

#action-menu {
    display: none;  /* Initially hidden */
    opacity: 0;
    transform: translateY(-20px); /* Start above its position */
    transition: opacity 0.3s ease, transform 0.5s ease;
}

#action-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Move to its normal position */
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .left-container {
        width: 90vw;
    }

    .right-container {
        width: 40%;
    }
}



@media (max-width: 768px) {

    .sticky-logo {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    body {
        padding: 10px;
        padding-top: 20px;
        padding-left: 15px;
    }
}

@media (max-width: 576px) {
    .current-container {
        flex-direction: column;
    }

    .right-container {
        order: -1; /* Move the right container above the left container */
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px; /* Add some spacing */
    }

    .left-container {
        order: 1; /* Ensure the left container is below the right container */
        width: 90vw;
    }

    .image-container {
        width: 240px;
    }
    
    .logo {
        font-size: 16px;
        padding: 2px;
    }

    .sticky-logo {
        padding-top: 5px;
        padding-bottom: 15px;
    }

    body {
        padding: 5px;
        padding-top: 10px;
        padding-left: 10px;
    }
}
