body {
    font-family: 'Times New Roman', serif;
    padding: 20px;
    margin: 0; /* Remove default margin */
    line-height: 1.1;
    height: 100vh; /* Ensure body takes up full viewport height */
    overflow: hidden; /* Prevent scrolling on the body */
    padding-top: 36px;
    padding-left: 30px;
}

.sticky-logo {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    padding: 0;
    padding-bottom: 20px;
}

.current-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 40px); /* Adjust height to fill the viewport */
}

.left-container {
    width: 720px;
    overflow-y: scroll;
    max-height: 100%; /* Ensure it takes full height */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.exhibition-img,
.exhibition-img-captioned {
    max-width: 100%;
    max-height: 90%;
    height: auto;
    margin-bottom: 20px;
    object-fit: contain; /* Maintain intrinsic dimensions */
    align-self: flex-start;
}

.thomas-container {
    width: 100%;
    max-height: 90%;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 0px;
}

.thomas-img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain; /* Maintain intrinsic dimensions */
}

.text-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.toggle-text {
    cursor: pointer;
    color: black; 
    text-decoration: none;
}

.toggle-text:hover {
    color: turquoise; 
    text-decoration: underline; 
}

header h1 {
    font-weight: normal;
    margin-top: 0;
    text-align: center;
}

header img {
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 1px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover, nav ul li a:focus {
    color: turquoise;
}

.image-container {
    display: block;
    width: 360px;
    object-fit: contain; /* Maintain intrinsic dimensions */
    margin-left: 0;
    margin-top: 10px;
}

.header-img {
    display: block;
    width: 100%;
    object-fit: contain; /* Maintain intrinsic dimensions */
    margin-left: 0;
}

.custom-hr {
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 10px;
    width: 100%; /* Matches the width of the containing div */
    margin-left: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1px;
}

.underline {
    text-decoration: underline;
}

.right-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: auto;
    align-self: flex-start;
    margin-right: 20px;
    margin-left: 60px;
}

.logo {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 3px;
    border: 1px black solid;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .left-container {
        width: 60%;
    }

    .right-container {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .left-container, .right-container {
        width: 100%;
    }

    .current-container {
        flex-direction: column;
    }

    .right-container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {

    .sticky-logo {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    body {
        padding: 10px;
        padding-top: 20px;
        padding-left: 15px;
    }
}

@media (max-width: 576px) {
    .current-container {
        flex-direction: column;
    }

    .right-container {
        order: -1; /* Move the right container above the left container */
        position: static; /* Remove sticky positioning */
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px; /* Add some spacing */
    }

    .left-container {
        order: 1; /* Ensure the left container is below the right container */
    }

    .image-container {
        width: 240px;
    }
    
    .logo {
        font-size: 16px;
        padding: 2px;
    }

    .sticky-logo {
        padding-top: 5px;
        padding-bottom: 15px;
    }

    body {
        padding: 5px;
        padding-top: 10px;
        padding-left: 10px;
    }
}
